* {
  box-sizing: border-box;
  margin: 0;
}

button {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.column {
  display: flex;
  flex-direction: column;
}
.flex.center {
  justify-content: center;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.margin-left {
  margin-left: auto;
}
.margin-right {
  margin-right: auto;
}
.margin-top-small {
  margin-top: 1em;
}
.margin-left-small {
  margin-left: 1em;
}

img.pokemon {
  height: 10em;
  width: 10em;
}

div.stat {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 1em;
}
div.stat > 
  div.label {
    margin-right: auto;
  }
div.stat > 
  div.number {
    margin-left: auto;
    padding-left: 1em;
  }
div.moves {
  max-height: 80vh;
  overflow-y: auto;
}
div.moves >
  div.move {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
